In [1]:
import pandas as pd

In [2]:
# leer archivo Excel que contiene los topicos de Fundamentos de Analsis de Datos

dataDataSets = pd.read_csv('APIdata/datasets.csv')

In [3]:
dataDataSets.head()

,Unnamed: 0,topic,set,ref,title,size,lastUpdated,downloadCount,voteCount,usabilityRating
0,2,Data-scientist,datasets,nikhilbhathi/data-scientist-salary-us-glassdoor,Data scientist salary,1023KB,2021-12-29 15:28:13,10588,174,1.000000
1,4,Data-scientist,datasets,andrewmvd/data-scientist-jobs,Data Scientist Jobs,4MB,2020-07-16 04:04:58,3212,92,1.000000
2,6,Data-scientist,datasets,arashnic/hr-analytics-job-change-of-data-scien...,HR Analytics: Job Change of Data Scientists,295KB,2020-12-07 00:25:10,43000,1220,1.000000
3,8,Data-scientist,datasets,sl6149/data-scientist-job-market-in-the-us,Data Scientist Job Market in the U.S.,16MB,2018-08-31 17:34:49,12298,326,0.794118
4,10,Data-scientist,datasets,omkargowda/data-scientist-salary,Data Scientist Salary,88KB,2022-07-09 11:25:59,1219,47,1.000000

In [4]:
dataDataSets.shape

(832, 10)

In [5]:
dataDataSets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 832 entries, 0 to 831
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       832 non-null    int64
 1   topic            832 non-null    object
 2   set              832 non-null    object
 3   ref              832 non-null    object
 4   title            832 non-null    object
 5   size             832 non-null    object
 6   lastUpdated      832 non-null    object
 7   downloadCount    832 non-null    object
 8   voteCount        832 non-null    object
 9   usabilityRating  832 non-null    float64
dtypes: float64(1), int64(1), object(8)
memory usage: 65.1+ KB

In [6]:
# revisar nulos
dataDataSets.isnull().sum()

Unnamed: 0         0
topic              0
set                0
ref                0
title              0
size               0
lastUpdated        0
downloadCount      0
voteCount          0
usabilityRating    0
dtype: int64

In [7]:
# eliminar columnas

dataDataSets = dataDataSets.drop(['Unnamed: 0', 'topic'], axis=1)

In [8]:
# cambiar de nombre a las columnas

dataDataSets = dataDataSets.rename(columns={'set':'type', 'ref':'referencia', 'downloadCount':'downloads'})

In [9]:
dataDataSets.head()

,type,referencia,title,size,lastUpdated,downloads,voteCount,usabilityRating
0,datasets,nikhilbhathi/data-scientist-salary-us-glassdoor,Data scientist salary,1023KB,2021-12-29 15:28:13,10588,174,1.000000
1,datasets,andrewmvd/data-scientist-jobs,Data Scientist Jobs,4MB,2020-07-16 04:04:58,3212,92,1.000000
2,datasets,arashnic/hr-analytics-job-change-of-data-scien...,HR Analytics: Job Change of Data Scientists,295KB,2020-12-07 00:25:10,43000,1220,1.000000
3,datasets,sl6149/data-scientist-job-market-in-the-us,Data Scientist Job Market in the U.S.,16MB,2018-08-31 17:34:49,12298,326,0.794118
4,datasets,omkargowda/data-scientist-salary,Data Scientist Salary,88KB,2022-07-09 11:25:59,1219,47,1.000000

In [ ]:
#for x in dataDataSets:
    #getAutor = x['referencia'].split('/')

# Notebooks

In [10]:
# leer archivo Excel que contiene los topicos de Fundamentos de Analsis de Datos

dataNoteboks = pd.read_csv('APIdata/notebooks.csv')

In [11]:
dataNoteboks.head()

,Unnamed: 0,topic,set,ref,title,author,lastRunTime,totalVotes
0,2,NaN,kernels,anokas/data-analysis-xgboost-starter-0-35460-lb,Data Analysis & XGBoost Starter (0.35460 LB),anokas,2017-04-12 14:22:20,1414
1,4,NaN,kernels,dimarudov/data-analysis-using-sql,Data Analysis using SQL,Dima Rudov,2022-03-21 19:40:13,582
2,6,NaN,kernels,peterchang77/exploratory-data-analysis,Exploratory Data Analysis,Peter,2018-08-27 14:52:22,304
3,8,NaN,kernels,kashnitsky/topic-1-exploratory-data-analysis-w...,Topic 1. Exploratory Data Analysis with Pandas,Yury Kashnitsky,2021-05-07 08:35:46,873
4,10,NaN,kernels,anokas/data-exploration-analysis,Data Exploration & Analysis,anokas,2017-04-21 18:30:17,405

In [12]:
dataNoteboks.shape

(497, 8)

In [13]:
dataNoteboks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497 entries, 0 to 496
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   497 non-null    int64
 1   topic        177 non-null    object
 2   set          497 non-null    object
 3   ref          491 non-null    object
 4   title        497 non-null    object
 5   author       491 non-null    object
 6   lastRunTime  497 non-null    object
 7   totalVotes   497 non-null    object
dtypes: int64(1), object(7)
memory usage: 31.2+ KB

In [14]:
dataNoteboks.isnull().sum()

Unnamed: 0       0
topic          320
set              0
ref              6
title            0
author           6
lastRunTime      0
totalVotes       0
dtype: int64

In [15]:
# eliminar columnas innecesarias

dataNoteboks = dataNoteboks.drop(['Unnamed: 0', 'topic'], axis=1)

In [16]:
# cambiar de nombre a las columnas

dataNoteboks = dataNoteboks.rename(columns={'set':'type', 'ref':'referencia'})

In [18]:
dataNoteboks.head(50)

,type,referencia,title,author,lastRunTime,totalVotes
0,kernels,anokas/data-analysis-xgboost-starter-0-35460-lb,Data Analysis & XGBoost Starter (0.35460 LB),anokas,2017-04-12 14:22:20,1414
1,kernels,dimarudov/data-analysis-using-sql,Data Analysis using SQL,Dima Rudov,2022-03-21 19:40:13,582
2,kernels,peterchang77/exploratory-data-analysis,Exploratory Data Analysis,Peter,2018-08-27 14:52:22,304
3,kernels,kashnitsky/topic-1-exploratory-data-analysis-w...,Topic 1. Exploratory Data Analysis with Pandas,Yury Kashnitsky,2021-05-07 08:35:46,873
4,kernels,anokas/data-exploration-analysis,Data Exploration & Analysis,anokas,2017-04-21 18:30:17,405
5,kernels,anokas/exploratory-data-analysis-4,Exploratory Data Analysis,anokas,2017-04-07 17:22:48,303
6,kernels,rounakbanik/ted-data-analysis,TED Data Analysis,Rounak Banik,2017-10-19 13:46:29,212
7,kernels,ekami66/detailed-exploratory-data-analysis-wit...,Detailed exploratory data analysis with python,Tuatini GODARD,2017-01-20 02:06:37,646
8,kernels,ruslankl/eeg-data-analysis,EEG Data Analysis,def me(x),2019-01-08 18:10:20,163
9,kernels,ihelon/hubmap-exploratory-data-analysis,HuBMAP - Exploratory Data Analysis,Yaroslav Isaienkov,2020-11-30 22:55:15,311
10,kernels,mmetter/pokemon-data-analysis-tutorial,Pokemon Data Analysis Tutorial,Michael Metter,2018-07-18 16:05:11,139
11,kernels,jonathanbouchet/f1-data-analysis,F1 Data analysis,Jonathan Bouchet,2017-12-09 03:36:26,188
12,kernels,pmarcelino/data-analysis-and-feature-extractio...,Data analysis and feature extraction with Python,"""Pedro Marcelino PhD""",2022-04-30 19:20:15,619
13,kernels,loaiabdalslam/sales-data-analysis-report,Sales Data Analysis Report !,Loai abdalslam,2019-02-09 12:47:15,176
14,kernels,notaapple/detailed-exploratory-data-analysis-u...,Detailed Exploratory Data Analysis using R,AiO,2017-01-07 22:25:15,330
15,kernels,chirag9073/netflix-data-analysis,Netflix Data Analysis,Chirag Samal,2020-06-03 05:54:25,86
16,kernels,tannercarbonati/detailed-data-analysis-ensembl...,Detailed Data Analysis & Ensemble Modeling,a ghost,2017-07-15 19:36:06,365
17,kernels,amirrezaeian/time-series-data-analysis-using-l...,Time-series data analysis using LSTM (Tutorial),Amir Rezaeian,2018-02-06 17:08:41,279
18,kernels,ihelon/cassava-leaf-disease-exploratory-data-a...,Cassava Leaf Disease - Exploratory Data Analysis,Yaroslav Isaienkov,2020-11-28 21:48:41,391
19,kernels,randylaosat/simple-exploratory-data-analysis-p...,Simple Exploratory Data Analysis - PASSNYC,randy lao,2018-07-14 13:50:08,231
20,kernels,carolzhangdc/predict-imdb-score-with-data-mini...,Predict IMDB score with data mining algorithms,Yueming,2018-01-12 05:28:17,84
21,kernels,ekrembayar/f-r-i-e-n-d-s-text-mining-data-visu...,F.R.I.E.N.D.S Text Mining & Data Visualization,Ekrem Bayar,2021-12-06 10:21:40,110
22,kernels,josipdomazet/mining-nyc-airbnb-data-using-r,Mining NYC Airbnb data using R,Josip Domazet,2019-09-03 10:33:49,46
23,kernels,diegocalvo/data-mining-of-mental-health,Data mining of mental health,Diego Calvo,2017-02-11 21:54:46,32
24,kernels,emmaren/cold-calls-data-mining-and-model-selec...,Cold Calls: Data Mining and Model Selection,Emma Ren,2017-07-20 06:49:41,40
25,kernels,dansbecker/your-first-machine-learning-model,Your First Machine Learning Model,DanB,2021-11-09 00:01:04,2915
26,kernels,kanncaa1/machine-learning-tutorial-for-beginners,Machine Learning Tutorial for Beginners,DATAI,2018-07-24 14:43:45,2342
27,kernels,dansbecker/exercise-build-your-first-machine-l...,Exercise: Build Your First Machine Learning Model,DanB,2018-09-27 21:55:58,361
28,kernels,NaN,[Private Notebook],NaN,2010-04-01 00:00:00,0
29,kernels,dansbecker/exercise-machine-learning-competitions,Exercise: Machine Learning Competitions,DanB,2021-11-09 00:00:21,70
30,kernels,yogeshtak/exercise-your-first-machine-learning...,Exercise: Your First Machine Learning Model,Yogesh Tak,2020-01-03 14:51:27,2841
31,kernels,cdabakoglu/heart-disease-classifications-machi...,Heart Disease - Classifications (Machine Learn...,Caner Dabakoglu,2019-08-07 06:20:35,806
32,kernels,alexisbcook/machine-learning-competitions,Machine Learning Competitions,Alexis Cook,2021-11-09 00:02:46,240
33,kernels,dansbecker/learn-machine-learning,Learn Machine Learning,DanB,2018-04-04 12:21:16,379
34,kernels,jchen2186/machine-learning-with-iris-dataset,Machine Learning with Iris Dataset,Jane,2017-08-07 18:02:48,266
35,kernels,gargmanish/basic-machine-learning-with-cancer,Basic Machine Learning with Cancer,Manish Kumar,2017-05-30 15:30:18,352
36,kernels,kairosart/machine-learning-for-mental-health-1,Machine Learning for Mental Health,kairos,2018-06-26 12:58:37,156
37,kernels,ranjeetjain3/visualization-machine-learning-de...,Visualization -> Machine learning -> Deep lear...,Ranjeet Jain,2019-11-29 15:40:08,148
38,kernels,rtatman/bigquery-machine-learning-tutorial,BigQuery Machine Learning Tutorial,Rachael Tatman,2019-09-12 22:19:05,116
39,kernels,pmarcelino/data-analysis-and-feature-extractio...,Data analysis and feature extraction with Python,"""Pedro Marcelino PhD""",2022-04-30 19:20:15,619
40,kernels,wfaria/midi-music-data-extraction-using-music21,MIDI Music Data Extraction using Music21,Waldecir Faria,2018-09-11 23:57:59,61
41,kernels,kaushiksuresh147/twitter-data-extraction,Twitter data extraction,Kash,2021-06-23 19:40:49,26
42,kernels,saga21/cord-19-data-extraction-functions,CORD-19 - Data extraction functions,Patrick Sánchez,2020-05-08 12:17:12,60
43,kernels,pavansanagapati/spotify-music-api-data-extract...,Spotify Music API - Data Extraction - Part1,Pavan Sanagapati,2020-06-15 16:00:15,32
44,kernels,pmarcelino/comprehensive-data-exploration-with...,Comprehensive data exploration with Python,"""Pedro Marcelino PhD""",2022-04-30 19:20:37,12859
45,kernels,kaushiksuresh147/twitter-data-extraction-for-i...,Twitter data extraction for #ipl2020,Kash,2020-08-23 21:36:11,13
46,kernels,kanncaa1/feature-selection-and-data-visualization,Feature Selection and Data Visualization,DATAI,2021-07-10 16:05:36,1689
47,kernels,tanulsingh077/twitter-sentiment-extaction-anal...,"""Twitter sentiment Extaction-Analysis","EDA and Model""",Mr_KnowNothing,2020-04-14 10:09:10
48,kernels,alexisbcook/intro-to-automl,Intro to AutoML,Alexis Cook,2021-11-09 00:01:59,460
49,kernels,ekrembayar/fifa-19-dashboard-with-r-shiny,FIFA 19 Dashboard with R Shiny,Ekrem Bayar,2020-09-01 19:18:32,214

In [20]:
dataNoteboks.shape

(497, 6)